# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "510021bdc75d662047fc40c1c02e4dac"
application_url = "https://burning-citizens-satisfactory-broader.trycloudflare.com"
embedded = true
name = "announcement-remix-app"
handle = "announcement-remix-app"

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://burning-citizens-satisfactory-broader.trycloudflare.com/auth/callback",
  "https://burning-citizens-satisfactory-broader.trycloudflare.com/auth/shopify/callback",
  "https://burning-citizens-satisfactory-broader.trycloudflare.com/api/auth/callback"
]

[pos]
embedded = false

[build]
dev_store_url = "bs11-store.myshopify.com"
automatically_update_urls_on_dev = true
